.photo {
    font-size: 12px;
    color: gray;
    margin-top: 20px;
    margin-bottom: 30px;
}

.photo p {
    margin-top: 5px;
}

.photo a:link {
    color: gray;
}

.photo a:visited {
    color: gray;
}